{% if site.footer_fixed %}
  {% if page.custom_style %}
  <footer class="fixed-bottom" role="contentinfo" {{ page.custom_style }}>
  {% else %}
  <footer class="fixed-bottom" role="contentinfo">
  {% endif %}
    <div class="container mt-0">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.data[site.active_lang].strings.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% else %}
  {% if page.custom_style %}
  <footer class="sticky-bottom mt-5" role="contentinfo" {{ page.custom_style }}>
  {% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
  {% endif %}
    <div class="container">
      &copy; Copyright {{ site.time | date: '%Y' }}
      {{ site.first_name }}
      {{ site.middle_name }}
      {{ site.last_name }}. {{ site.data[site.active_lang].strings.footer_text }}
      {% if site.impressum_path %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
      {% endif %}
      {% if site.last_updated %}
        Last updated: {{ 'now' | date: '%B %d, %Y' }}.
      {% endif %}
    </div>
  </footer>
{% endif %}
