---
layout: default
---
{% if page.custom_style %}
<div class="post" {{ page.custom_style }}>
{% else %}
<div class="post">
{% endif %}
  <header class="post-header">
    {% if page.stylized-title == 'blank %}
      <h1 class="post-title">
        {{- page.title -}}
      </h1>
    {% else %}
      {{- page.stylized-title -}}
    {% endif %}
    {% if page.stylized-description == 'blank %}
      <p class="post-description">
        {{- page.description -}}
      </p>
    {% else %}
      {{- page.stylized-description -}}
    {% endif %}
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>{{ site.data[site.active_lang].strings.references }}</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
